<div class="container">
  <hr>
  <h2>Answers: </h2>
  <div class="row">
    {{#each answers as |answer|}}
    <button class="btn btn-xs btn-danger"{{action 'delete' answer}}>Delete</button>

      <div class="">
        <p>
          <h4>"{{answer.answer}}"</h4>
          Author: {{answer.author}}
          {{upvote-answer answer=answer upvote="upvote"}}
        </p>

        <p>Vote:{{answer.votes}}</p>
      </div>
      <!-- <div class="">
      </div> -->
    {{/each}}

  </div>
</div>
