<div class="container">
  <h1> Welcome Question Board </h1>

  <h4>We hope you find exactly what you're looking for.</h4>
  <h2>Questions:</h2>
  <h4>If you see <span class="glyphicon glyphicon-eye-open"></span> it means this question is really popular.</h4>
  <ul>
    {{#each model as |question|}}
      <li>
        <h4>
          {{question-popularity question}} {{#link-to 'question' question.id}}{{question.ask}}{{/link-to}} written by {{question.author}}.
        </h4>
      </li>
    {{/each}}
  </ul>

  {{new-question saveQuestion="saveQuestionOnQuestionRoute"}}

  <div class="">
    <h3>Your favorite questions:</h3>
    <h5>{{display-cart }}</h5>

  </div>

</div>
