<hr>
<h4>{{model.ask}} Details</h4>

{{answer-tile answers=model.answers}}
{{new-answer saveAnswer="saveAnswer" question=model}}
{{update-question question=model update="update"}}

<ul>
  {{#each model as |question|}}
     <li>{{#link-to 'question' question.id}}{{question.ask}}{{question.author}}{{/link-to}}
     </li>
  {{/each}}
</ul>
